<!-- Three -->
<section id="{{ include.section.section_id }}" class="wrapper">
    <div class="inner">
        <header class="major">
            <h2>{{ include.section.title }}</h2>
            {{ include.section.subtitle | markdownify }}
        </header>
        <div class="posts">
            {% assign arr = include.site.posts | where_exp: 'item', 'item.show_in_home_posts == true' | sort: 'date' | reverse %}
            {% for post in arr %}
                <section class="post">
                    {% if post.alt_img %}
                        <a href="{{ post.url | relative_url }}" class="image"><img src="{{ post.alt_img | relative_url }}" alt="" /></a>
                    {% endif %}
                    <div class="content">
                        <h3>{{ post.title }}</h3>
                        {{ post.excerpt | markdownify }}
                        <a href="{{ post.url | relative_url }}" class="button">More</a>
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
</section>
